.custom-marker {
  width: 0;
  height: 0;
  background-color: rgba(248, 220, 220, 0.064);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.custom-marker:hover {
  border: 1px solid black;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
