.container {
  display: flex;
  height: 100vh;
}
.map-container {
  flex: 70%;
  height: 100%;
}
.info-container {
  flex: 30%;
  padding: 10px;
  overflow-y: auto;
}
.distances-container {
  margin-bottom: 20px;
  text-align: center;
}
.owner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.owner-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.distances-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.distances-details p {
  margin: 0;
}
.outside-circle-container {
  margin-top: 20px;
}
.animal-info {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.animal-info.outside {
  background-color: red;
}
.animal-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.animal-details {
  display: flex;
  flex-direction: column;
}
.animal-details p {
  margin: 0;
}
